token: <your bot token string>
groups:
  <name of first translators group>:
    id: <your group id int>
    source language: ca
    target language: es
    db: test # if different than "source language"
    source vs target channels:
    - [<source channel name string 1>, <target channel name string 1>]
    - [<source channel name string 2>, <target channel name string 2>]
  <name of second translators group>:
    id: <another group id int>
    source language: ca
    target language: ar
    source vs target channels:
    - [<source channel name string 1>, <target channel name string>]
    - [<source channel name string 2>, <target channel name string>]
